<div class="contentCenter">
  <mat-progress-spinner *ngIf="userCalendarInfo.isFetching" class="smallMarginTop" color="primary" mode="indeterminate"
    [diameter]="24">
  </mat-progress-spinner>
  <full-calendar *ngIf="!userCalendarInfo.isFetching && userCalendarInfo.isFetchingSuccess" class="width-100 smallMarginTop"
    defaultView="dayGridMonth" [header]="calendarHeader" [weekends]="calendarWeekends"
    [weekNumbers]="calendarWeekNumbers" [selectable]="calendarSelectable" [businessHours]="calendarBusinessHours"
    [nowIndicator]="calendarNowIndicator" [eventLimit]="calendarEventLimit" [editable]="calendarEditable"
    [plugins]="calendarPlugins" [events]="userCalendarInfo.calendarEvents" (eventClick)="pulseClick($event)"
    (eventResize)="pulseResize($event)" (eventDrop)="pulseDrop($event)">
  </full-calendar>
</div>
