<div class="bottomNavigation">

  <!-- bottom sheet menu -->
  <div class="bottomLeftNavigation cursorPointer" matRipple [matRippleColor]="'#8E8E8E'" [matRippleUnbounded]="true"
    (click)="openMenuBottomSheet()">
    <mat-icon class="icon-display-large colorBright">menu</mat-icon>
  </div>

  <!-- add blocks -->
  <div class="bottomCenterNavigation" *ngIf="appInfo.isNavigationAddTextVisible">
    <button mat-flat-button color="accent" (click)="addBlocks()">
      <mat-icon class="colorBright">add</mat-icon>
      <span class="colorBright">{{appInfo.navigationAddText}}</span>
    </button>
  </div>

  <!-- more in menu -->
  <div matRipple [matRippleColor]="'#8E8E8E'" [matRippleUnbounded]="true" [matMenuTriggerFor]="more"
    class="bottomRightNavigation cursorPointer">
    <mat-icon class="icon-display-large colorBright">more_vert</mat-icon>
  </div>
  <mat-menu #more="matMenu">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>{{appInfo.user.displayname}}</span>
    </button>
    <button mat-menu-item (click)="navigateTo('/travels')">
      <mat-icon>flight_takeoff</mat-icon>
      <span>My travels</span>
    </button>
    <button mat-menu-item (click)="navigateTo('/block-calendar')">
      <mat-icon>block</mat-icon>
      <span>Block calendar</span>
    </button>
    <button mat-menu-item (click)="navigateTo('/milestones-calendar')" *ngIf="appInfo.user.isSuperuser">
      <mat-icon>today</mat-icon>
      <span>Milestones calendar</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="metas" *ngIf="appInfo.user.isSuperuser">
      <mat-icon>chrome_reader_mode</mat-icon>
      <span>Metas</span>
    </button>
  </mat-menu>

  <mat-menu #metas="matMenu">
    <button mat-menu-item (click)="navigateTo('/meta-projects')">
      <span>Project</span>
    </button>
    <button mat-menu-item (click)="navigateTo('/meta-milestones')">
      <span>Milestone</span>
    </button>
    <button mat-menu-item (click)="navigateTo('/meta-pulses')">
      <span>Pulse</span>
    </button>
  </mat-menu>

</div>
