<div class="contentCenter">
  <mat-card class="width-100 mat-elevation-z8 smallMarginTop">
    <!-- title -->
    <mat-form-field class="width-100">
      <input matInput [(ngModel)]="milestone.title" placeholder="Title" autocomplete="off" type="text" value="">
    </mat-form-field>
    <!-- description -->
    <mat-form-field class="width-100 smallMarginTop">
      <textarea matInput cdkTextareaAutosize [(ngModel)]="milestone.description" placeholder="Description"
        autocomplete="off" type="text" value=""></textarea>
    </mat-form-field>
    <!-- location -->
    <mat-form-field class="width-100 smallMarginTop">
      <mat-label>Location</mat-label>
      <mat-select [(ngModel)]="milestone.locationId">
        <mat-option *ngFor="let location of locationInfo.locations; index as indexLocation;" [value]="location.locationId">
          {{locationInfo.idMapLocations[location.locationId].join(', ')}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- timeline -->
    <mat-form-field class="width-100 smallMarginTop">
      <input matInput placeholder="Timeline" autocomplete="off" [satDatepicker]="milestoneTimeline"
        [(ngModel)]="timeline">
      <sat-datepicker #milestoneTimeline [rangeMode]="true" [closeAfterSelection]="false"></sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="milestoneTimeline"></sat-datepicker-toggle>
    </mat-form-field>
    <!-- meta -->
    <mat-form-field class="width-100 smallMarginTop">
      <mat-label>Meta</mat-label>
      <mat-select [(ngModel)]="selectedMilestoneMeta" (selectionChange)="changedMilestoneMeta($event)">
        <mat-option *ngFor="let meta of metaMilestonesInfo.metaMilestones; index as index;" [value]="meta">
          {{meta.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- metas -->
    <ng-container *ngIf="selectedMilestoneMeta">
      <div class="makeRows width-100" *ngIf="selectedMilestoneMeta.fields.length">
        <mat-card class="makeRowChild innerMatCard smallMarginTop mat-elevation-z8"
          *ngFor="let field of selectedMilestoneMeta.fields; index as indexField;">
          <ng-container *ngIf="field.valueType === 'select'">
            <mat-form-field class="smallMarginTop">
              <mat-label>{{field.key}}</mat-label>
              <mat-select [(ngModel)]="milestone.fields[indexField].value">
                <mat-option *ngFor="let value of field.value; index as indexValue;" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="field.valueType === 'input'">
            <mat-form-field class="smallMarginTop">
              <input matInput [(ngModel)]="milestone.fields[indexField].value" [placeholder]="field.key" autocomplete="off"
                type="text" value="">
            </mat-form-field>
          </ng-container>
        </mat-card>
      </div>
    </ng-container>
    <!-- add -->
    <div class="smallMarginTop">
      <button mat-flat-button class="colorBright floatLeft" color="accent" [disabled]="isAdding"
        (click)="addMilestone()">
        Add {{appInfo.constants.buildingBlocks.labels.lowercase.milestone}}
      </button>
      <mat-progress-spinner *ngIf="isAdding" class="inlineBlock smallMarginLeft floatLeft" color="primary"
        mode="indeterminate" [diameter]="36">
      </mat-progress-spinner>
    </div>
  </mat-card>
</div>
