<div class="contentCenter">
  <mat-card class="width-100 mat-elevation-z8 smallMarginTop">
    <!-- title -->
    <mat-form-field class="width-100">
      <input matInput [(ngModel)]="pulse.title" placeholder="Title" autocomplete="off" type="text" value="">
    </mat-form-field>
    <!-- description -->
    <mat-form-field class="width-100 smallMarginTop">
      <textarea matInput cdkTextareaAutosize [(ngModel)]="pulse.description" placeholder="Description"
        autocomplete="off" type="text" value=""></textarea>
    </mat-form-field>
    <!-- timeline -->
    <mat-form-field class="width-100 smallMarginTop">
      <input matInput placeholder="Timeline" autocomplete="off" [satDatepicker]="pulseTimeline" [(ngModel)]="timeline">
      <sat-datepicker #pulseTimeline [rangeMode]="true" [closeAfterSelection]="false"></sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="pulseTimeline"></sat-datepicker-toggle>
    </mat-form-field>
    <div class="makeRows">
      <!-- begin time -->
      <mat-form-field class="width-100 smallMarginTop makeRowChild zeroMargin">
        <mat-label>Begin:</mat-label>
        <mat-select [(ngModel)]="startTime">
          <mat-option *ngFor="let time of timeHours; index as index;" [value]="time">
            {{time}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- end time -->
      <mat-form-field class="width-100 smallMarginTop makeRowChild zeroMargin">
        <mat-label>End:</mat-label>
        <mat-select [(ngModel)]="endTime">
          <mat-option *ngFor="let time of timeHours; index as index;" [value]="time">
            {{time}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- color -->
    <mat-form-field class="width-100 smallMarginTop">
      <mat-label>Color:</mat-label>
      <mat-select [(ngModel)]="pulse.color">
        <mat-option *ngFor="let color of colors; index as index;" [value]="color">
          {{color}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- meta -->
    <mat-form-field class="width-100 smallMarginTop">
      <mat-label>Meta</mat-label>
      <mat-select [(ngModel)]="selectedPulseMeta" (selectionChange)="changedPulseMeta($event)">
        <mat-option *ngFor="let meta of metaPulseInfo.metaPulses; index as index;" [value]="meta">
          {{meta.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- metas -->
    <ng-container *ngIf="selectedPulseMeta">
      <div class="makeRows width-100" *ngIf="selectedPulseMeta.fields.length">
        <mat-card class="makeRowChild innerMatCard smallMarginTop mat-elevation-z8"
          *ngFor="let field of selectedPulseMeta.fields; index as indexField;">
          <ng-container *ngIf="field.valueType === 'select'">
            <mat-form-field class="smallMarginTop">
              <mat-label>{{field.key}}</mat-label>
              <mat-select [(ngModel)]="pulse.fields[indexField].value">
                <mat-option *ngFor="let value of field.value; index as indexValue;" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="field.valueType === 'input'">
            <mat-form-field class="smallMarginTop">
              <input matInput [(ngModel)]="pulse.fields[indexField].value" [placeholder]="field.key" autocomplete="off"
                type="text" value="">
            </mat-form-field>
          </ng-container>
        </mat-card>
      </div>
    </ng-container>
    <!-- assignees -->
    <mat-form-field class="width-100 smallMarginTop">
      <mat-chip-list #assigneeList>
        <mat-chip *ngFor="let assignee of selectedAssignees" [selectable]="selectableAssignee"
          [removable]="removableAssignee" (removed)="removeAssignee(assignee)">
          {{assignee}}
          <mat-icon matChipRemove *ngIf="removableAssignee">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Assignees" #assigneeInput [formControl]="assigneeCtrl" [matAutocomplete]="autoAssignee"
          [matChipInputFor]="assigneeList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlurAssignee" (matChipInputTokenEnd)="addAssignee($event)">
      </mat-chip-list>
      <mat-autocomplete #autoAssignee="matAutocomplete" (optionSelected)="selectedAssignee($event)">
        <mat-option *ngFor="let assignee of filteredAssignees | async" [value]="assignee">
          {{assignee}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- user availability -->
    <div class="smallMarginTop" *ngIf="displayUserAvailability.length > 0">
      <div *ngFor="let message of displayUserAvailability; index as indexMessage;">
        {{message}}
      </div>
    </div>
    <!-- validate before add -->
    <div class="smallMarginTop">
      <button mat-stroked-button class="colorBright floatRight" [disabled]="isUpdating || isValidatingUsers"
        (click)="validateUsersAvailability()">
        Validate users availability
      </button>
      <mat-progress-spinner *ngIf="isValidatingUsers" class="inlineBlock smallMarginRight floatRight" color="primary"
        mode="indeterminate" [diameter]="36">
      </mat-progress-spinner>
    </div>
    <!-- add -->
    <div class="smallMarginTop">
      <button mat-flat-button class="colorBright floatLeft" color="accent" [disabled]="isUpdating || isValidatingUsers"
        (click)="updatePulse()">
        Update pulse
      </button>
      <mat-progress-spinner *ngIf="isUpdating" class="inlineBlock smallMarginLeft floatLeft" color="primary"
        mode="indeterminate" [diameter]="36">
      </mat-progress-spinner>
    </div>
  </mat-card>
</div>
