<div class="contentCenter">
  <div class="headerText largeMarginTop colorBright">
    <span class="terminalBot">circuit:</span>&nbsp;Seriously? Should I be concerned?<br><br>
    <span class="terminalBot">circuit:</span>&nbsp;I'll check down the back of the sofa and have a rummage through that bowl
    full of junk next to the front door.<br><br>
    <span class="terminalBot">circuit:</span>&nbsp;Although I'm not sure what you're looking for, here's a few ideas:<br><br>
    <span class="terminalBot">circuit:</span>&nbsp;<a routerLink="/home">Head to the homepage</a> - pop here to start your
    journey<br><br>
    <span class="terminalBot">circuit:</span>&nbsp;<a routerLink="/projects">Show me my projects</a> - visit your projects
  </div>
</div>
